<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apollomultimodule">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApolloApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".views.CompanyListActivity"
            android:label="@string/activity_company_list_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.EmployeeActivity"
            android:label="@string/activity_employee_label" />
        <activity
            android:name=".views.EmployeeListActivity"
            android:label="@string/activity_employee_list_label" />
    </application>

</manifest>